/* .vitepress/theme/custom.css */

:root {
    --vp-c-brand: #ff6600;
    --vp-c-brand-light: #ff6600;
    --vp-c-brand-lighter: #ff6600;
    --vp-c-brand-dark: #ffe265;
    --vp-c-brand-darker:#ffe265;
  
    --vp-c-sponsor: #fd1d7c;
  }